
/* Add a black background color to the top navigation */
.topnav {
    background-color: #0c4724;
    overflow: hidden;
    width: 100%;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;

}
.choose_file{
    position:relative;
    display:inline-block;
    border-radius:8px;
    border:#ebebeb solid 1px;
    width:250px;
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
    background:white
}
.choose_file input[type="file"]{
    -webkit-appearance:none;
    position:absolute;
    top:0; left:0;
    opacity:0;
}

.forma {
    margin-left: 30%;
    margin-right: 30%;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #000000;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0c4724;
    color: white;
}