body {
    background-image: url("../resources/images/dcp.jpg");
}

h1 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    mix-blend-mode: darken;

}
h2 {
    text-align: center;
}
img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #0c4724;
    overflow: hidden;
    width: 100%;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #000000;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0c4724;
    color: white;
}
