/* Add a black background color to the top navigation */
.topnav {
    background-color: #0c4724;
    overflow: hidden;
    width: 100%;

}

.table{
    margin-right: 200px;
    margin-bottom: 100px;
}
.containerBackground {
    background-color: beige;
}

.container-novi-stil{
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.container-nova-salveta{
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.container-novi-predmet{
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #000000;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0c4724;
    color: white;
}

.form-control-text {
    padding: 0;
    background-color: transparent;
}