h1{
    margin: 100px;
}
p{
    font-size: 100%;
}
.form-horizontal{
    margin: 100px;
}
.podaci{
    padding: 20px;
    margin: 20px;
}

.topnav {
    background-color: #0c4724;
    overflow: hidden;
    width: 100%;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #000000;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0c4724;
    color: white;
}