h2{
    padding-bottom: 10px;
}
p.error{
    color: red;
}
.right_side
{
    width: 25%;
    float: right;

    margin-top: 80px;
    margin-right: 40%;

    border:1px solid #0c4724;
    border-radius: 5px;
    color: #000000;
    padding: 20px;
    background-color: lightgrey;
}
.container{
    alignment: right;
    padding-left: 500px;
}

.form-group-name{
    width: 50%;
    padding: 12px;
}
.form-group{
    padding: 12px;
}

.topnav {
    background-color: #0c4724;
    overflow: hidden;
    width: 100%;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #000000;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0c4724;
    color: white;
}