/* Add a black background color to the top navigation */
.topnav {
    background-color: #0c4724;
    overflow: hidden;
    width: 100%;
}

.containerBackground {
    background-color: beige;
}

img {
    opacity: 1;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #000000;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0c4724;
    color: white;
}

.zig-zag {
    border: none;
    width: 1000%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 20px;
    background: linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -20px 0,
    linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -20px 0,
    linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
    linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
    background-size: 20px 20px;
    background-color: #0c4724;
}

.content {
    font-size: 22px;
}

.video {
    font-size: 20px;
}

.title {
    background-color: #0c4724;
    color: #f2f2f2;
    text-decoration-color: #f2f2f2;
    font-size: 40px;
    align-content: baseline;
}