<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/items.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <title>Standardna ponuda</title>
</head>
<body>

<div class="topnav">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>

    <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/stories">Priče</a>
    <a href="/items">Standardna ponuda</a>
    <a href="/mySpecialOffers" th:if="${session.curUserLevelOfAuthority == 1}"> Moje narudžbe </a>
    <a href="/createSpecialOffer" th:if="${session.curUserLevelOfAuthority == 1}"> Naruči ukrašavanje</a>
    <a href="/shoppingCart" th:if="${session.curUserLevelOfAuthority != 2}">Košarica</a>
    <a href="/requestedSpecialOffers" th:if="${session.curUserLevelOfAuthority == 2}">Zatražene posebne ponude</a>
    <a href="/transactions" th:if="${session.curUserLevelOfAuthority == 2}">Pregled transakcija</a>
    <a href="/profile" th:if="${session.curUserId}" style="float: right">Profil</a>
    <a href="/signOut" th:if="${session.curUserUsername!=null}" style="float: right">Odjavi se</a>
    <a href="/regusers" th:if="${session.curUserLevelOfAuthority == 2}" style="float: right"> Popis korisnika</a>
    <a href="/register" th:if="${session.curUserId == null}" style="float: right">Registriraj se</a>
    <a href="/login" th:if="${session.curUserId == null}" style="float: right">Prijavi se</a>


</div>

<div class="container" align="center">
    <b><label style="font-size: 30px;">Predmeti standardne ponude</label></b>
</div>

<div class="opcije" th:align="center" th:if="${session.curUserLevelOfAuthority==2}">
    <a class="btn btn-primary" style="font-size: 20px" th:href="@{/napkins}">Salvete</a>
    <a class="btn btn-primary" style="font-size: 20px" th:href="@{/styles}">Stilovi</a>
    <a class="btn btn-primary" style="font-size: 20px" th:href="@{/itemsList}">Predmeti</a>

</div>

<br>


<main id="items">
    <div class=container th:if="${item.name.equals('Naruceni predmet')==false}" th:each="item: ${items}" align="center" th:action="@{/items}" method="post">
        <div class="containerBackground">

            <h2 class="title"  name="itemSelected" th:text="${item.name}">Story Title</h2>
            <label style="font-size: 22px" class="content"  th:text="${item.description}">Post content</label>
            <br>
            <label style="font-size: 22px" class="content"  th:text="'Cijena predmeta u kunama: ' + ${item.itemPrice}">Post
                content</label>
            <br>
            <img style='height: 50%; width: 50%; object-fit: cover'  th:src="${item.pic}"/>
            <br>
            <br>

            <div class="container"  align="center">
                <form  th:action="@{/items}" method="post">
                    <div class="form-group-name">
                        <input type="hidden" class="form-control" id="itemSelected"  name="itemSelected"  th:value="${item.name}" required
                               autofocus readonly>
                    </div>
                    <legend style="font-size: 18px">Odaberi stil</legend>
                    <select required style="font-size: 18px"  name="styleSelected">
                        <option value="">--</option>
                        <option th:if="${style.name.equals('Naruceni stil')==false}" th:each="style: ${styles}"
                                th:value="${style.name}"
                                th:utext="${style.name}"></option>
                    </select>
                    <legend style="font-size: 18px" >Odaberi salvetu</legend>
                    <select required style="font-size: 18px" name="napkinSelected">
                        <option value="" >--</option>
                        <option th:if="${napkin.name.equals('Narucena salveta')==false}" th:each="napkin: ${napkins}"
                                th:value="${napkin.name}"
                                th:utext="${napkin.name}"></option>
                    </select>

                    <button type="submit" name="method" th:if="${session.curUserLevelOfAuthority != 2}"
                            value="save" class="btn btn-success">Dodaj
                    </button>
                </form>
                <br>
                <br>
            </div>
        </div>


        <hr>
    </div>
    <hr th:height="30px">
</main>

<br>
<br>

</body>
</html>