<!DOCTYPE html>
<html lang="hr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <link rel="stylesheet" type="text/css" href="css/createStory.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Registriraj se</title>
</head>
<body>
<!-- Include _menu.html -->
<div class="topnav">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>

    <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/stories">Priče</a>
    <a href="/items">Standardna ponuda</a>
    <a href="/mySpecialOffers" th:if="${session.curUserLevelOfAuthority == 1}"> Moje narudžbe </a>
    <a href="/createSpecialOffer" th:if="${session.curUserLevelOfAuthority == 1}"> Naruči ukrašavanje</a>
    <a href="/shoppingCart" th:if="${session.curUserLevelOfAuthority != 2}">Košarica</a>
    <a href="/requestedSpecialOffers" th:if="${session.curUserLevelOfAuthority == 2}">Zatražene posebne ponude</a>
    <a href="/transactions" th:if="${session.curUserLevelOfAuthority == 2}">Pregled transakcija</a>
    <a href="/profile" th:if="${session.curUserId}" style="float: right">Profil</a>
    <a href="/signOut" th:if="${session.curUserUsername!=null}" style="float: right">Odjavi se</a>
    <a href="/regusers" th:if="${session.curUserLevelOfAuthority == 2}" style="float: right"> Popis korisnika</a>
    <a href="/register" th:if="${session.curUserId == null}" style="float: right">Registriraj se</a>
    <a href="/login" th:if="${session.curUserId == null}" style="float: right">Prijavi se</a>


</div>


<div class="container" align="center">
    <h2>Prijava</h2>
    <form class="forma" action="login" th:method="POST" th:object="${loginform}">
        <div class="form-group">
            <label for="username">Korisnicko ime:</label>
            <input type="username" class="form-control" id="username"
                   placeholder="Upisite korisnicko ime" name="username"
                   required>

        </div>
        <div class="form-group">
            <label for="password">Lozinka:</label>
            <input type="password"  class="form-control" id="password" placeholder="Upisite lozinku"
                   name="password"
                   th:value="${loginform.getPassword()}" required>
            <div th:if="${loginform.containsError('password')}">
                <p class="error" style="color:#c40000" th:each="err : ${loginform.getError('password')}"
                   th:text="${err}"></p>
            </div>
        </div>

        <button type="submit" name="method" value="submit" class="btn btn-success">Submit</button>

    </form>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>