<!DOCTYPE html>
<html lang="hr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/napkin.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <title>Spring Framework Guru</title>
</head>
<body>

<!-- Include _menu.html -->
<div class="topnav">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>

    <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/stories">Priče</a>
    <a href="/items">Standardna ponuda</a>
    <a href="/mySpecialOffers" th:if="${session.curUserLevelOfAuthority == 1}"> Moje narudžbe </a>
    <a href="/createSpecialOffer" th:if="${session.curUserLevelOfAuthority == 1}"> Naruči ukrašavanje</a>
    <a href="/shoppingCart" th:if="${session.curUserLevelOfAuthority != 2}">Košarica</a>
    <a href="/requestedSpecialOffers" th:if="${session.curUserLevelOfAuthority == 2}">Zatražene posebne ponude</a>
    <a href="/transactions" th:if="${session.curUserLevelOfAuthority == 2}">Pregled transakcija</a>
    <a href="/profile" th:if="${session.curUserId}" style="float: right">Profil</a>
    <a href="/signOut" th:if="${session.curUserUsername!=null}" style="float: right">Odjavi se</a>
    <a href="/regusers" th:if="${session.curUserLevelOfAuthority == 2}" style="float: right"> Popis korisnika</a>
    <a href="/register" th:if="${session.curUserId == null}" style="float: right">Registriraj se</a>
    <a href="/login" th:if="${session.curUserId == null}" style="float: right">Prijavi se</a>


</div>

<h1 th:align="center" style="font-family: Arial, Helvetica, sans-serif; margin-top: 50px; font-size: 50px; color: black"></h1>


<div class="container search-table">
    <div class="search-list">
        <h3>Salvete</h3>
        <table class="table" id="myTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Opis</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="napkin" type="opp.pleme.HandMadeShop.model.Napkin"*/-->
            <tr th:each="napkin : ${napkins}">
                <td width="10%" th:text="${napkin.id}">Tasty Goodnees 3</td>
                <td th:text="${napkin.name}">334</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container-nova-salveta">
    <form action="/napkins" th:method="POST">
        <div>
            <h2>Dodaj novu salvetu:</h2>
            <div class="form-group-name">
                <label for="name">Opis salvete:</label>
                <input type="text" class="form-control" id="name" placeholder="Upišite naziv salvete" name="name" required autofocus>
            </div>
            <br>
            <div class="plati">
                <button type="submit" name="method" value="save" class="btn btn-success">Dodaj</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>