<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Profil</title>
</head>
<body>
<div class="topnav">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>

    <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/stories">Priče</a>
    <a href="/items">Standardna ponuda</a>
    <a href="/mySpecialOffers" th:if="${session.curUserLevelOfAuthority == 1}"> Moje narudžbe </a>
    <a href="/createSpecialOffer" th:if="${session.curUserLevelOfAuthority == 1}"> Naruči ukrašavanje</a>
    <a href="/shoppingCart" th:if="${session.curUserLevelOfAuthority != 2}">Košarica</a>
    <a href="/requestedSpecialOffers" th:if="${session.curUserLevelOfAuthority == 2}">Zatražene posebne ponude</a>
    <a href="/transactions" th:if="${session.curUserLevelOfAuthority == 2}">Pregled transakcija</a>
    <a href="/profile" th:if="${session.curUserId}" style="float: right">Profil</a>
    <a href="/signOut" th:if="${session.curUserUsername!=null}" style="float: right">Odjavi se</a>
    <a href="/regusers" th:if="${session.curUserLevelOfAuthority == 2}" style="float: right"> Popis korisnika</a>
    <a href="/register" th:if="${session.curUserId == null}" style="float: right">Registriraj se</a>
    <a href="/login" th:if="${session.curUserId == null}" style="float: right">Prijavi se</a>


</div>

<!--/*@thymesVar id="flashuser" type="opp.pleme.HandMadeShop.model.User"*/-->
<h1 th:align="center" style="margin :30px;">Prijavljeni ste kao: <b><span
        th:utext="${session.curUserName}">..</span></b> <b><span th:utext="${session.curUserSurname}">..</span></b></h1>
<div th:object="${session}">

    <!--/*@thymesVar id="editprofileform" type="opp.pleme.HandMadeShop.forms.EditProfileForm"*/-->
    <form class="form-horizontal" style="margin-right: 100px" role="form" th:object="${editprofileform}"
          th:method="POST">
        <div class="form-group">
            <label class="col-lg-3 control-label">Ime:</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" name="name" th:value="${session.curUserName}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Prezime:</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" name="surname" th:value="${session.curUserSurname}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Adresa:</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" name="address" th:value="${session.curUserAddress}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="username" th:value="${session.curUserUsername}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" name="contact" th:value="${session.curUserContact}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Broj kartice:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="card_number" th:value="${session.curUserCardNumber}">
            </div>
            <div th:if="${editprofileform.containsError('card_number')}">
                <p class="error" style="color:#c40000" th:each="err : ${editprofileform.getError('card_number')}"
                   th:text="${err}"></p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
                <button type="submit" name="method" value="save" class="btn btn-success">Save changes</button>
                <button type="submit" name="method" value="cancel" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </form>

</div>
</body>
</html>