<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <link rel="stylesheet" type="text/css" href="css/createStory.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Registriraj se</title>
</head>
<body>
<!-- Include _menu.html -->
<div class="topnav">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>

    <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/stories">Priče</a>
    <a href="/items">Standardna ponuda</a>
    <a href="/mySpecialOffers" th:if="${session.curUserLevelOfAuthority == 1}"> Moje narudžbe </a>
    <a href="/createSpecialOffer" th:if="${session.curUserLevelOfAuthority == 1}"> Naruči ukrašavanje</a>
    <a href="/shoppingCart" th:if="${session.curUserLevelOfAuthority != 2}">Košarica</a>
    <a href="/requestedSpecialOffers" th:if="${session.curUserLevelOfAuthority == 2}">Zatražene posebne ponude</a>
    <a href="/transactions" th:if="${session.curUserLevelOfAuthority == 2}">Pregled transakcija</a>
    <a href="/profile" th:if="${session.curUserId}" style="float: right">Profil</a>
    <a href="/signOut" th:if="${session.curUserUsername!=null}" style="float: right">Odjavi se</a>
    <a href="/regusers" th:if="${session.curUserLevelOfAuthority == 2}" style="float: right"> Popis korisnika</a>
    <a href="/register" th:if="${session.curUserId == null}" style="float: right">Registriraj se</a>
    <a href="/login" th:if="${session.curUserId == null}" style="float: right">Prijavi se</a>


</div>


<div class="container" align="center">
    <h2>Registracija</h2>

    <!--/*@thymesVar id="user" type="opp.pleme.HandMadeShop.model.User"*/-->
    <!--/*@thymesVar id="registerform" type="opp.pleme.HandMadeShop.forms.RegisterForm"*/-->
    <form class="forma" action="register" th:object="${registerform}" th:method="POST">
        <div class="form-group-name">
            <label for="name">Ime:</label>
            <input type="text" class="form-control" id="name" placeholder="Upisite ime" name="name"
                   th:value="${registerform.getName()}" required
                   autofocus>
            <div th:if="${registerform.containsError('name')}">
                <p class="error" style="color:#c40000" th:each="err : ${registerform.getError('name')}"
                   th:text="${err}"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="surname">Prezime:</label>
            <input type="surname" class="form-control" id="surname" placeholder="Upisite Prezime" name="surname"
                   th:value="${registerform.getSurname()}" required>
            <div th:if="${registerform.containsError('surname')}">
                <p class="error" style="color:#c40000" th:each="err : ${registerform.getError('surname')}"
                   th:text="${err}"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="username">Korisnicko ime:</label>
            <input type="username" class="form-control" id="username" placeholder="Upisite korisnicko ime"
                   name="username" th:value="${registerform.getUsername()}" required>
            <div th:if="${registerform.containsError('username')}">
                <p class="error" style="color:#c40000" th:each="err : ${registerform.getError('username')}"
                   th:text="${err}"></p>
            </div>

        </div>
        <div class="form-group">
            <label for="address">Adresa:</label>
            <input type="address" class="form-control" id="address" placeholder="Upisite adresu" name="address"
                   th:value="${registerform.getAddress()}" required>
            <div th:if="${registerform.containsError('address')}">
                <p class="error" style="color:#c40000" th:each="err : ${registerform.getError('address')}"
                   th:text="${err}"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="contact">Email:</label>
            <input type="contact" class="form-control" id="contact" placeholder="Upisite email" name="contact"
                   th:value="${registerform.getContact()}" required>
            <div th:if="${registerform.containsError('contact')}">
                <p class="error" style="color:#c40000" th:each="err : ${registerform.getError('contact')}"
                   th:text="${err}"></p>
            </div>

        </div>
        <div class="form-group">
            <label for="password">Lozinka:</label>
            <input type="password" class="form-control" id="password" placeholder="Upisite lozinku" name="password"
                   th:value="${registerform.getPassword()}" required>
            <div th:if="${registerform.containsError('password')}">
                <p class="error" style="color:#c40000" th:each="err : ${registerform.getError('password')}"
                   th:text="${err}"></p>
            </div>


        </div>
        <div class="form-group">
            <label for="card_number">Broj kartice:</label>
            <input type="card_number" class="form-control" id="card_number" placeholder="Upisite broj kartice"
                   name="card_number"
                   th:value="${registerform.getCardNumber()}" required>
            <div th:if="${registerform.containsError('card_number')}">
                <p class="error" style="color:#c40000" th:each="err : ${registerform.getError('card_number')}"
                   th:text="${err}"></p>
            </div>

        </div>
        <button type="submit" name="method" value="save" class="btn btn-success">Submit</button>
    </form>
</div>


</body>
</html>