<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"

>
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <link rel="stylesheet" type="text/css" href="css/napkin.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Registrirani korisnici</title>
</head>
<body>
<!-- Include _menu.html -->
<div class="topnav">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>

    <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/stories">Priče</a>
    <a href="/items">Standardna ponuda</a>
    <a href="/mySpecialOffers" th:if="${session.curUserLevelOfAuthority == 1}"> Moje narudžbe </a>
    <a href="/createSpecialOffer" th:if="${session.curUserLevelOfAuthority == 1}"> Naruči ukrašavanje</a>
    <a href="/shoppingCart" th:if="${session.curUserLevelOfAuthority != 2}">Košarica</a>
    <a href="/requestedSpecialOffers" th:if="${session.curUserLevelOfAuthority == 2}">Zatražene posebne ponude</a>
    <a href="/transactions" th:if="${session.curUserLevelOfAuthority == 2}">Pregled transakcija</a>
    <a href="/profile" th:if="${session.curUserId}" style="float: right">Profil</a>
    <a href="/signOut" th:if="${session.curUserUsername!=null}" style="float: right">Odjavi se</a>
    <a href="/regusers" th:if="${session.curUserLevelOfAuthority == 2}" style="float: right"> Popis korisnika</a>
    <a href="/register" th:if="${session.curUserId == null}" style="float: right">Registriraj se</a>
    <a href="/login" th:if="${session.curUserId == null}" style="float: right">Prijavi se</a>


</div>

<br>
<div th:class="container" align="center">
    <b><label style="font-size: 30px">Registrirani korisnici</label></b>
</div>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-body">
                <table class="table table-hover " style="font-size: 20px">
                    <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Adresa</th>
                        <th>Contact</th>
                        <th>Broj kartice</th>
                        <th>Pristup</th>
                    </tr>
                    </thead>
                    <tr th:each="user: ${registeredUsers}" th:if="${user.levelOfAuthority==1}">
                        <td style="white-space:nowrap;" th:text="${user.id}">334</td>
                        <td style="white-space:nowrap;" th:text="${user.username}">Tasty Goodnees 3</td>
                        <td style="white-space:nowrap;" width="10%" th:text="${user.name}">334</td>
                        <td style="white-space:nowrap;" th:text="${user.surname}">Tasty Goodnees 3</td>
                        <td style="white-space:nowrap;" th:text="${user.address}">334</td>
                        <td style="white-space:nowrap;" th:text="${user.contact}">334</td>
                        <td style="white-space:nowrap;" th:text="${user.cardNumber}">334</td>
                        <td width="20%">
                            <div class="input-group">
                                <form action="regusers" th:method="POST">
                                    <input type="hidden" class="form-control" id="story" th:value="${user.id}"
                                           name="userId" required>
                                    <span class="input-group-btn">
                                                <button type="submit" style="font-size: 20px; width: 95px; height: 40px"
                                                        name="method"
                                                        value="grant" class="btn btn-success"
                                                        th:if="${user.blocked}">Omogući</button>
                                                <button type="submit" style="font-size: 20px; width: 95px; height: 40px"
                                                        name="method"
                                                        value="deny" class="btn btn-danger"
                                                        th:if="${!user.blocked}">Zabrani</button>
                                </span>
                                </form>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>