<!DOCTYPE html>
<html lang="hr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/napkin.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <title>Košarica</title>
</head>
<body>

<!-- Include _menu.html -->
<div class="topnav">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>

    <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/stories">Priče</a>
    <a href="/items">Standardna ponuda</a>
    <a href="/mySpecialOffers" th:if="${session.curUserLevelOfAuthority == 1}"> Moje narudžbe </a>
    <a href="/createSpecialOffer" th:if="${session.curUserLevelOfAuthority == 1}"> Naruči ukrašavanje</a>
    <a href="/shoppingCart" th:if="${session.curUserLevelOfAuthority != 2}">Košarica</a>
    <a href="/requestedSpecialOffers" th:if="${session.curUserLevelOfAuthority == 2}">Zatražene posebne ponude</a>
    <a href="/transactions" th:if="${session.curUserLevelOfAuthority == 2}">Pregled transakcija</a>
    <a href="/profile" th:if="${session.curUserId}" style="float: right">Profil</a>
    <a href="/signOut" th:if="${session.curUserUsername!=null}" style="float: right">Odjavi se</a>
    <a href="/regusers" th:if="${session.curUserLevelOfAuthority == 2}" style="float: right"> Popis korisnika</a>
    <a href="/register" th:if="${session.curUserId == null}" style="float: right">Registriraj se</a>
    <a href="/login" th:if="${session.curUserId == null}" style="float: right">Prijavi se</a>


</div>

<h1 th:align="center"
    style="font-family: Arial, Helvetica, sans-serif; margin-top: 50px; font-size: 50px; color: black"></h1>

<div class="container search-table">
    <div class="search-list">
        <h3>Košarica</h3>
        <b><label th:if="${price == 0.0}">Vaša košarica je prazna!</label></b>
        <table class="table" id="myTable" th:if="${price != 0.0}">
            <thead>
            <tr>
                <th>Ime</th>
                <th>Salveta</th>
                <th>Opis</th>
                <th>Stil</th>
                <th>Cijena</th>

            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="item" type="opp.pleme.HandMadeShop.model.StylizedItem"*/-->
            <tr th:each="item : ${shoppingCart}">
                <td width="10%" th:text="${item.item.name}">Tasty Goodnees 3</td>
                <td th:text="${item.napkin.name}">334</td>
                <td th:text="${item.opis}">334</td>
                <td th:text="${item.style.name}">334</td>
                <td th:text="${item.priceOfStylizedItem}">334</td>
            </tr>
            </tbody>
        </table>

        <h1 th:if="${price != 0.0}">Ukupna cijena: <span th:text="${price}"></span></h1>
        <br>
        <form action="/shoppingCart" th:method="POST">
            <button th:align="right" th:if="${price != 0.0}" type="submit" name="method" value="proceed"
                    class="btn btn-success">Nastavi na plaćanje
            </button>
            <button th:align="right" th:if="${price != 0.0}" type="submit" name="method" value="deleteItems"
                    class="btn btn-danger">Očisti košaricu
            </button>
        </form>
    </div>
</div>
</body>
</html>
