<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/stories.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <title>Priče</title>
</head>
<body>

<div class="topnav">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>

    <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/stories">Priče</a>
    <a href="/items">Standardna ponuda</a>
    <a href="/mySpecialOffers" th:if="${session.curUserLevelOfAuthority == 1}"> Moje narudžbe </a>
    <a href="/createSpecialOffer" th:if="${session.curUserLevelOfAuthority == 1}"> Naruči ukrašavanje</a>
    <a href="/shoppingCart" th:if="${session.curUserLevelOfAuthority != 2}">Košarica</a>
    <a href="/requestedSpecialOffers" th:if="${session.curUserLevelOfAuthority == 2}">Zatražene posebne ponude</a>
    <a href="/transactions" th:if="${session.curUserLevelOfAuthority == 2}">Pregled transakcija</a>
    <a href="/profile" th:if="${session.curUserId}" style="float: right">Profil</a>
    <a href="/signOut" th:if="${session.curUserUsername!=null}" style="float: right">Odjavi se</a>
    <a href="/regusers" th:if="${session.curUserLevelOfAuthority == 2}" style="float: right"> Popis korisnika</a>
    <a href="/register" th:if="${session.curUserId == null}" style="float: right">Registriraj se</a>
    <a href="/login" th:if="${session.curUserId == null}" style="float: right">Prijavi se</a>


</div>

<div class="container" align="center">
    <div class="navbar-brand navbar-right">
        <div>
            <a class="btn btn-success" th:if="${session.curUserLevelOfAuthority == 1}" style="font-size: 20px"
               th:href="@{/suggestStory}">Predloži priču</a>
            <a class="btn btn-primary" th:if="${session.curUserLevelOfAuthority == 2}" style="font-size: 20px"
               th:href="@{/createStory}">Stvori priču</a>
            <a class="btn btn-primary" th:if="${session.curUserLevelOfAuthority == 2}" style="font-size: 20px"
               th:href="@{/suggestedStories}">Odobri predložene priče</a>
        </div>
    </div>
</div>

<br>

<main id="stories">
    <div class=container th:each="instance : ${storyCommentMap}" th:if="${instance.getKey().approved == true}" align="center">
        <div class="containerBackground">
            <h2 class="title" th:text="${instance.getKey().title}">Story Title</h2>
            <p class="content" th:text="${instance.getKey().text}">Post content</p>
            <a target="_blank" rel="noopener noreferrer" class="video" th:if="${instance.getKey().video != null}"
               th:href="${instance.getKey().video}">
                Pogledajte video vezan uz ovu priču!</a>
            <br>
            <img style='height: 50%; width: 50%; object-fit: cover' th:src="${instance.getKey().picture}"
                 th:if="${instance.getKey().picture != null and instance.getKey().picture.startsWith('http')}"/>
            <br>
            <br>
            <div class="search-list" th:if="${!instance.getValue().isEmpty()}" th:align="center">
                <table th:align="center">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Korisnik</th>
                            <th>Komentar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="comment : ${instance.getValue()}">
                            <td width="10%" th:text="${comment.getUsername()}">nepoznati korisnik</td>
                            <td th:text="${comment.text}">-</td>
                        </tr>
                        </tbody>
                    </table>
                </table>
                <hr>
            </div>
            <div class="right_side">
                <div class="container">
                    <div class="input-group">
                        <form action="stories" th:if="${session.curUserId}" th:object="${commentForm}" th:method="POST">

                            <div class="form-group-name">
                                <input type="hidden" class="form-control" id="story" th:value="${instance.getKey().id}"
                                       name="storyId" required>
                            </div>

                            <div class="form-group-name">
                                <input type="hidden" class="form-control" id="nickname" th:value="${session.curUserId}"
                                       name="userId" required>
                            </div>

                            <div class="form-group-name">
                                <b><label for="comment">Komentar:</label></b>
                                <textarea type="comment" style="width: 400px; height: 90px;" class="form-control"
                                          id="comment" placeholder="Upišite komentar" name="comment" required
                                ></textarea>
                            </div>
                            <br>
                            <button type="submit" name="method" value="save" class="btn btn-success">Submit</button>
                            <br>
                        </form>
                    </div>
                    <br>
                </div>
            </div>
            <div class="right_side">
                <div class="container">
                    <div class="input-group">
                        <form action="stories" th:if="${session.curUserId == null}" th:object="${commentForm}"
                              th:method="POST">
                            <div class="form-group-name">
                                <input type="hidden" class="form-control" id="storyA" th:value="${instance.getKey().id}"
                                       name="storyId" required>
                            </div>
                            <div class="form-group-name">
                                <input type="hidden" class="form-control" id="nicknameA" th:value="0"
                                       name="userId" required>
                            </div>
                            <hr>
                            <div class="form-group-name">
                                <b><label for="comment">Anonimni komentar:</label></b>
                                <textarea type="comment" style="width: 400px; height: 90px;" class="form-control"
                                          id="anonymousComment" placeholder="Upišite komentar" name="anonymousComment"
                                          required> </textarea>
                            </div>
                            <br>
                            <button type="submit" name="method" value="save" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <hr th:height="30px">
    </div>
</main>

<br>
<br>

</body>
</html>