<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/stories.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <title>Predložene priče</title>
</head>
<body>

<div class="topnav">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>

    <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/stories">Priče</a>
    <a href="/items">Standardna ponuda</a>
    <a href="/mySpecialOffers" th:if="${session.curUserLevelOfAuthority == 1}"> Moje narudžbe </a>
    <a href="/createSpecialOffer" th:if="${session.curUserLevelOfAuthority == 1}"> Naruči ukrašavanje</a>
    <a href="/shoppingCart" th:if="${session.curUserLevelOfAuthority != 2}">Košarica</a>
    <a href="/requestedSpecialOffers" th:if="${session.curUserLevelOfAuthority == 2}">Zatražene posebne ponude</a>
    <a href="/transactions" th:if="${session.curUserLevelOfAuthority == 2}">Pregled transakcija</a>
    <a href="/profile" th:if="${session.curUserId}" style="float: right">Profil</a>
    <a href="/signOut" th:if="${session.curUserUsername!=null}" style="float: right">Odjavi se</a>
    <a href="/regusers" th:if="${session.curUserLevelOfAuthority == 2}" style="float: right"> Popis korisnika</a>
    <a href="/register" th:if="${session.curUserId == null}" style="float: right">Registriraj se</a>
    <a href="/login" th:if="${session.curUserId == null}" style="float: right">Prijavi se</a>


</div>

<br>

<main id="suggestedStories">
    <div class="container" align="center">
        <label style="font-size: 30px;" th:if="${noSuggestedStories}">Nema predloženih priča!</label>
    </div>
    <div class=container th:each="instance : ${storiesCommentsMap}" th:if="${instance.getKey().approved == false}"
         align="center">
        <div class="containerBackground">
            <h2 class="title" th:text="${instance.getKey().title}">Story Title</h2>
            <p class="content" th:text="${instance.getKey().text}">Post content</p>
            <a target="_blank" rel="noopener noreferrer" class="video" th:if="${instance.getKey().video != null}"
               th:href="${instance.getKey().video}">
                Pogledajte video vezan uz ovu priču!</a>
            <br>
            <img style='height: 50%; width: 50%; object-fit: cover' th:src="${instance.getKey().picture}"
                 th:if="${instance.getKey().picture != null and instance.getKey().picture.startsWith('http')}"/>
            <br>
            <br>
            <div class="container" align="center">
                <form action="suggestedStories" th:method="POST">
                    <input type="hidden" class="form-control" id="story" th:value="${instance.getKey().id}"
                           name="suggestedStoryId" required>
                    <span style="width: 85px;" class="input-group-btn">
                               <button type="submit" style="font-size: 20px; width: 95px; height: 40px" name="method"
                                       value="accept" class="btn btn-success"> Prihvati</button>
                               <button type="submit" style="font-size: 20px; width: 95px; height: 40px" name="method"
                                       value="reject" class="btn btn-danger"> Odbij </button>
                               </span>
                </form>
            </div>
            <br>
        </div>
        <hr>
    </div>
    <hr th:height="30px">
    </div>
</main>

<br>
<br>

</body>
</html>